* {
	font-family: "Comic Sans MS";
	margin: 0;
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
}

#header {
	border-width: 0 0 1px 0;
	border-style: solid;
}

.ui-header {
	padding-right: 20px;
}

.fn-font-center {
	text-align: center;
}

.ui-search {
	float: left;
	margin-top: 6px;
	margin-left: 15px;
	height: 35px;
	width: 240px;
	line-height: 35px;
}

.ui-search-in-store {
	padding-left: 5%;
	border-style: none;
	height: 100%;
	width: 90%;
	float: left;
}

.fn-border {
	border-style: solid;
	border-color: #c7c7c7;
	border-width: 1px;
}

.fn-clickable {
	cursor: pointer;
}

.fn-font-gray {
	color: #676767;
}

.ui-body {
	padding: 0;
	width: 100%;
	height: 2200px;
	margin-top: 50px;
}

.ui-showcase {
	width: 100%;
	margin: 0;
	height: 20.45%;
	background-color: #d3d3d3;
}

.ui-items {
	width: 100%;
	height: 100%;
	float: left;
	overflow: hidden;
}

.ui-item {
	position: relative;
	width: 100%;
	height: 100%;
}

.ui-introduction {
	position: relative;
	top: 100%;
	width: 100%;
	height: 100%;
	margin: 0;
}

.ui-buy {
	width: 100%;
	height: 20.45%;
	margin: 0;
	background-color: #dddddd;
}

.ui-products {
	width: 100%;
	height: 18.18%;
	padding: 0;
}

.ui-product {
	float: left;
	width: 25%;
	height: 100%;
	float: left;
}

.ui-product-img {
	padding: 5% 5% 5% 5%;
	width: 100%;
	height: 60%;
}

.ui-product-info {
	padding: 0 0 0 7%;
	width: 100%;
	height: 40%;
	line-height: 250%;
}

.fn-font-header {
	font-size: 20px;
}

.fn-information {
	width: 100%;
	height: 2.27%;
	padding: 0.4% 2% 0 2%;
	font-size: 200%;
	color: black;
}

.ui-tail {
	width: 100%;
	height: 50px;
	background-color: #eee;
	overflow: hidden;
}

.ui-tail-header {
	padding: 0 5% 0 5%;
	font-size: 16px;
	line-height: 60px;
}

.fn-icon {
	text-align: center;
	float: left;
	line-height: 30px;
	margin: 10px;
	width: 30px;
	height: 30px;
}

.fn-expansion {
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 60px;
	float: right;
}

.ui-tail-info {
	width: 100%;
	padding: 0 5% 0 5%;
	height: 200px;
	background-color: #f2f2f2;
}

@media (min-width: 1080px) {
	#title {
		padding: 0 5% 0 5%;
	}
	.ui-body {
		padding: 0 5% 0 5%;
	}
	.ui-introduction {
		top: 0;
	}
}

@media (max-width: 1080px) {
	.ui-tail {
		margin-top: 1375px;
	}
	.fn-information {
		font-size: 100%;
	}
	.fn-stay {
		margin-top: 270px;
	}
	.ui-products {
		height: 60%;
	}
	.ui-product {
		width: 50%;
		height: 50%;
	}
	.ui-body {
		height: 1320px;
	}
}

.fn-nomargin {
	margin: 0;
}

.fn-nopadding {
	padding: 0;
}

.fn-inherit-height {
	height: 100%;
}
