* {
	font-family: "Comic Sans MS";
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
}

#header {
	padding: 0 15px 0 15px;
	border-width: 0 0 1px 0;
	border-style: solid;
}

.ui-header {
	padding-right: 20px;
}

.fn-font-center {
	text-align: center;
}

.ui-search {
	float: left;
	margin-top: 6px;
	margin-left: 15px;
	height: 35px;
	width: 240px;
	line-height: 35px;
}

.ui-search-in-store {
	padding-left: 5%;
	border-style: none;
	height: 100%;
	width: 90%;
	float: left;
}

.fn-border {
	border-style: solid;
	border-color: #c7c7c7;
	border-width: 1px;
}

.fn-clickable {
	cursor: pointer;
}

.fn-font-gray {
	color: #676767;
}

.ui-body {
	min-width: 430px;
	padding: 0;
	width: 100%;
	height: 2200px;
	margin-top: 50px;
}

.ui-showcase {
	width: 100%;
	margin: 0;
	height: 20.45%;
	background-color: #d3d3d3;
}

.ui-items {
	width: 100%;
	height: 100%;
	float: left;
	overflow: hidden;
}

.ui-item {
	position: relative;
	width: 100%;
	height: 100%;
}

.ui-introduction {
	position: relative;
	top: 100%;
	width: 100%;
	height: 100%;
	margin: 0;
	color: white;
}

.ui-introduction-title {
	position: relative;
	width: 80%;
	top: -65%;
	left: 10%;
	font-size: 40px;
}

.ui-introduction-info {
	position: relative;
	width: 80%;
	top: -65%;
	left: 10%;
	font-size: 25px;
}

.ui-slide-left {
	position: relative;
	width: 2%;
	height: 15%;
	top: -60%;
	background-color: rgba(0, 0, 0, 0.7);
}

.ui-slide-right {
	position: relative;
	width: 2%;
	height: 15%;
	top: -75%;
	left: 98%;
	background-color: rgba(0, 0, 0, 0.7);
	margin: 0;
}

.ui-slide-left:hover {
	cursor: pointer;
}

.ui-slide-right:hover {
	cursor: pointer;
}

.fn-slide-left {
	color: white;
	width: 100%;
	text-align: center;
	height: 100%;
	font-size: 40px;
}

.fn-slide-right {
	color: white;
	width: 100%;
	text-align: center;
	height: 100%;
	font-size: 40px;
}

.fn-slide-left:before {
	content: "<";
}

.fn-slide-right:before {
	content: ">";
}

.ui-buy {
	width: 100%;
	height: 20.45%;
	margin: 0;
	background-color: #dddddd;
}

.ui-products {
	width: 100%;
	height: 18.18%;
	padding: 0;
}

.ui-product {
	float: left;
	width: 25%;
	height: 100%;
	float: left;
}

.ui-product:hover {
	background-color: #dddddd;
	cursor: pointer;
}

.ui-product-img {
	padding: 5% 5% 5% 5%;
	width: 100%;
	height: 60%;
}

.ui-product-info {
	padding: 0 0 0 7%;
	width: 100%;
	height: 40%;
	line-height: 250%;
}

.fn-font-header {
	font-size: 20px;
}

.fn-information {
	width: 100%;
	height: 2.27%;
	padding: 0.4% 2% 0 2%;
	font-size: 200%;
	color: black;
}

.ui-about {
	position: relative;
	width: 50%;
	top: -75%;
	left: 10%;
}

.ui-tail {
	min-width: 430px;
	width: 100%;
	height: 50px;
	background-color: #eee;
	overflow: hidden;
}

.ui-tail-header {
	padding: 0 5% 0 5%;
	font-size: 16px;
	line-height: 60px;
	background-color: #dddddd;
}

.fn-icon {
	text-align: center;
	float: left;
	line-height: 30px;
	margin: 10px;
	width: 30px;
	height: 30px;
}

.fn-expansion {
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 60px;
	float: right;
}

.ui-tail-info {
	width: 100%;
	padding: 0 5% 0 5%;
	height: 200px;
	background-color: #f2f2f2;
}

.ui-tail-info-detail {
	padding-top: 20px;
	padding-left: 20px;
	width: 20%;
	height: 100%;
	float: left;
	color: #626262;
}

.ui-tail-info-header {
	color: #626262;
	line-height: 40px;
	font-size: 20px;
}

.ui-tail-info-text {
	line-height: 30px;
	font-size: .8em;
}

.ui-tail-info-text a {
	color: #626262;
}

.ui-tail-info-text:hover {
	text-decoration: underline;
	cursor: pointer;
}

@media (min-width: 1080px) {
	#title {
		padding: 0 5% 0 5%;
	}
	.ui-body {
		padding: 0 5% 0 5%;
	}
	.ui-introduction {
		top: 0;
	}
}

@media (max-width: 1080px) {
	.ui-introduction-title {
		top: -65%;
		left: 0;
	}
	.ui-introduction-info {
		top: -65%;
		left: 0;
	}
	.ui-tail {
		margin-top: 1375px;
	}
	.ui-introduction {
		text-align: center;
		background-color: #d7d7d7;
	}
	.fn-information {
		font-size: 100%;
	}
	.fn-stay {
		margin-top: 270px;
	}
	.ui-products {
		height: 60%;
	}
	.ui-product {
		width: 50%;
		height: 50%;
	}
	.ui-body {
		height: 1320px;
	}
	.fn-slide-left {
		font-size: 20px;
	}
	.fn-slide-right {
		font-size: 20px;
	}
}

.fn-nomargin {
	margin: 0;
}

.fn-nopadding {
	padding: 0;
}

.fn-inherit-height {
	height: 100%;
}

.fn-ht {
	height: 50px;
}

.fn-li-icon {
	width: 50px;
	line-height: 50px;
}

.fn-img-autofit {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.fn-itemone {
	top: 0;
	left: 0;
}

.fn-itemtwo {
	top: -100%;
	left: 100%;
}

.fn-itemthree {
	top: -200%;
	left: 200%;
}

.fn-img-cover {
	object-fit: cover;
}

.fn-font-white {
	color: white;
}

.fn-background-green {
	background-color: #04a90f;
}

.fn-background-blue {
	background-color: #0279d7;
}

.fn-font-c-top {
	font-size: 40px;
	width: 80%;
}

.fn-font-c-bottom {
	font-size: 30px;
	width: 80%;
}
