/*第一行标题栏*/
#header {
	border-width: 0 0 1px 0;
	border-style: solid;
	margin-bottom: 0px;
}

.ui-header {
	padding-right: 20px;
}

.fn-font-center {
	text-align: center;
	width: 50px;
	line-height: 50px;
}

.logoheight{
	height: 50px;
}

.ui-search {
	float: left;
	margin-top: 6px;
	margin-left: 15px;
	height: 35px;
	width: 240px;
	line-height: 35px;
}

.ui-search-in-store {
	padding-left: 5%;
	border-style: none;
	height: 100%;
	width: 90%;
	float: left;
}

.fn-border {
	border-style: solid;
	border-color: #c7c7c7;
	border-width: 1px;
}

.fn-clickable {
	cursor: pointer;
}

.fn-font-gray {
	color: #676767;
	font-family: comic sans MS;
}


/*第二行标题栏*/
.fixed_title {
	height: 60px;
	width: 100%;
	border-bottom: solid 1px #cccccc;
	position: fixed;
	z-index: 10;
	background-color: #fff;
	display: flex;
	padding-left: 5%;
}
.fixed_title-left {
	line-height: 60px;
    color:#706d6e;
	font-size: 26px;
	font-family: "微软雅黑";
	font-weight: 600;
	cursor: pointer;
}
.fixed_title-right {
	margin-left: 45%;
	width: 35%;
	margin-top: 14px;
	transform: rotate(1deg);
}


/*产品分类导航栏*/
.head{
	width: 90%;
	height: 380px;
	background: pink;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 60px;
	display: flex;
	}
.head-left{
	width: 20%;
	height: 380px;
	background: #515857;
	padding-top: 10px;
	padding-bottom: 10px;
}
.head-left-a{
	width: 100%;
	height: 60px;
	color: white;
	font-size: 17px;
	padding-top: 20px;
	padding-left: 10%;
	display: block;
}
.head-left-a:hover{
	background: #222a29;
	color: white;
	text-decoration: none;
}
.head-right{
	width: 80%;
}
#bootstrap-touch-slider{
	height: 380px;
}
.slide-content{
	font-family: comic sans MS;
}


/*各分类明星产品区*/
.body{
	width: 90%;
	height: 2300px;
	margin: 20px 5% 0 5%;
}


/*新品上市*/
.body-newProduct-body{
	display: flex;
	flex-wrap: wrap;
}
.body-newProduct-title{
	border-bottom: 1px solid black;
	font-size: 30px;
	padding-bottom: 7px;
}
.body-newProduct-body-sub1{
	margin-left: 3%;
	width:17%;
}
.body-newProduct-body-sub2{
	margin-left: 2%;
	width:17%;
}
.body-newProduct-content h3{
	color: black;
	margin-bottom:0px;
}
.body-newProduct-picture{
	height: 140px;
	width: 100%;
}
.body-newProduct-price{
	color: #ec5411;
	font-family: comic sans MS;
}
.body-newProduct-price span{
	font-size: 20px;
	font-weight: bold;
}


/*活动专区*/
.body-activity{
	margin-top: 60px;
	display: flex;
	flex-wrap: wrap;
}
.body-activity-part{
	width: 24%;
	margin-left: 1%;
}
.body-activity img{
	 width:100%;
	 height:145px;
}
.body-activity h5{
	font-size:18px;
	width:93%;
	height:35px;
	color: black;
}
.body-activity p{
	color: #EEAD0E;
}


/*各系列热卖产品*/
.body-starProduct{
	margin-top: 50px;
}
.body-starProduct-title{
	font-size: 26px;
}
.body-starProduct-body{
	height: 330px;
	display: flex;
	border-right: 1px solid lightgray;
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
}
.body-starProduct-body-col1{
	border-left: 1px solid lightgray;
	width: 115%;
	height: 330px;
}
.body-starProduct-body-col1 h4{
	font-size: 20px;
	padding-top: 20px;
	margin-left: 4%;
	margin-bottom: 10px;
	color: black;
}
.body-starProduct-body-col1 p{
	margin-left: 4%;
	color: gray;
}
.body-starProduct-body-col1 img{
	width: 100%;
	margin-top: 10px;
}
.body-starProduct-body-col2{
	border-left: 1px solid lightgray;
	width: 100%;
	height: 330px;
}
.body-starProduct-body-col2 h4{
	margin-left: 4%;
	margin-bottom:0px;
	font-family: comic sans MS;
	color: black;
}
.body-starProduct-body-col2 h5{
	margin-left: 4%;
}
.body-starProduct-body-col2 img{
	width: 100%;
}
.body-starProduct-body-col2 p{
	color: #ec5411;
	font-family: comic sans MS;
	margin-left: 4%;
	margin-top: 25px;
}
.body-starProduct-body-col2 p span{
	font-size: 20px;
	font-weight: bold;
}
/*所有明星产品图片通用样式*/
.product-image{
	height: 180px;
}
/*热卖标签*/
.tag1{
	position: absolute;
	width: 5%;
	height: 30px;
	text-align: center;
	font-size: 17px;
	padding-top: 4px;
	background:#e71224;
	color: white;
	z-index: 1;
}
/*产品详情介绍通用样式*/
.detail{
	color: gray;
}
/*所有链接通用样式*/
a:hover {
    text-decoration: none;
}


/*页面底部*/
.ui-tail {
	min-width: 430px;
	width: 100%;
	height: 50px;
	background-color: #eee;
	overflow: hidden;
}

.ui-tail-header {
	padding: 0 5% 0 5%;
	font-size: 16px;
	line-height: 60px;
	background-color: #dddddd;
}

.fn-icon {
	text-align: center;
	float: left;
	line-height: 30px;
	margin: 10px;
	width: 30px;
	height: 30px;
}

.fn-expansion {
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 60px;
	float: right;
}

.ui-tail-info {
	width: 100%;
	padding: 0 5% 0 5%;
	height: 200px;
	background-color: #f2f2f2;
}

.ui-tail-info-detail {
	padding-top: 20px;
	padding-left: 20px;
	width: 20%;
	height: 100%;
	float: left;
	color: #626262;
}

.ui-tail-info-header {
	line-height: 40px;
	font-size: 20px;
}

.ui-tail-info-text {
	line-height: 30px;
	font-size: .8em;
	color: #626262;
}

.ui-tail-info-text:hover {
	text-decoration: underline;
	cursor: pointer;
}
.weixin-bg{
	background-color: #04a90f;
}
.weibo-bg{
	background-color: #0279d7;
}
.logo{
	color: white;
}


/*适应不同大小的屏幕——992px*/
@media(max-width: 992px) { 
	.fixed_title-right {
		opacity: 0;
		margin-left: 10%;
	}
	.fixed_title-left {
		font-size: 18px;
	}
	.body-newProduct-title {
		font-size: 20px;
	}
}
	
/*适应不同大小的屏幕——870px*/
@media(max-width: 870px) {
	/*滑动图区——适应手机端*/
	.head-left {
		display: none;
	}
	.head-right {
		width: 100%;
		height: 300px;
	}
	#bootstrap-touch-slider,.head{
		height: 300px;
	}
	.slide-head{
		font-size: 18px;
	}
	/*新品上市区自适应*/
	.body-newProduct-body-sub1{
		display: none;
	}
	.body-newProduct-body-sub2{
		width: 23%;
	}
	.body-newProduct-content h3{
		font-size: 19px;
    }
    .body-newProduct-content p{
		font-size: 10px;
    }
   .body-newProduct-picture{
		height: 120px;
    }
   .body-newProduct-price{
		font-size: 12px;
    }
   .body-newProduct-price span,.body-starProduct-body-col2 h4{
		font-size: 16px;
    }
   /*产品系列自适应*/
    .body-starProduct-body-col1{
   		display: none;
    }
    .body-starProduct-body-col2 p,.body-starProduct-body-col2 h5{
		font-size: 1px;
	}
	.body-starProduct-body-col2 p span{
		font-size: 16px;
		font-weight: bold;
	}
}


/*适应不同大小的屏幕——530px*/
@media(max-width: 530px){
	/*滑动图区自适应*/
	.head-left  {
		display: none;
	}
	.head-right{
		width: 100%;
		height: 220px;
	}
	#bootstrap-touch-slider{
		height: 220px;
	}
	.head{
		height: 220px;
	}
	.slide-head{
		font-size: 18px;
	}
	/*新品上市区自适应*/
	.body-newProduct-body-sub1{
		display: none;
	}
	.body-newProduct-body-sub2{
		width: 30%;
	}
	.body-newProduct-content h3{
		font-size: 19px;
    }
    .body-newProduct-content p{
		font-size: 10px;
    }
   .body-newProduct-picture{
		height: 120px;
    }
   .body-newProduct-price{
		font-size: 12px;
    }
   .body-newProduct-price span{
		font-size: 16px;
   }
}

/*适应不同大小的屏幕——411px*/
@media(max-width: 414px){
	/*滑动图区自适应*/
	.head{
		height: 148px;
	}
	.head-left  {
		display: none;
	}
	.head-right{
		width: 100%;
		height: 148px;
	}
	#bootstrap-touch-slider{
		height: 148px;
	}
	.slide-head{
		font-size: 17px;
	}
	/*新品上市区自适应*/
	.body-newProduct-body-sub1{
		display: none;
	}
	.body-newProduct-body-sub2{
		width: 47%;
	}
	.body-newProduct-content h3{
		font-size: 19px;
    }
    .body-newProduct-content p{
		font-size: 10px;
    }
   .body-newProduct-picture{
		height: 90px;
    }
   .body-newProduct-price{
		font-size: 12px;
    }
   .body-newProduct-price span{
		font-size: 16px;
   }
   /*活动区自适应*/
   .body-activity-part{
		width: 49%;
   }
   .body-activity p{
		margin-top: 10px;
		color: black;
   }
   /*产品系列自适应*/
   .body{
		height: 1950px;
	}
	.body-starProduct{
		margin-top: 40px;
	}
	.body-starProduct-title{
		font-size: 17px;
	}
	.body-starProduct-body,.body-starProduct-body-col2{
		height: 200px;
	}
	.body-starProduct-body-col2 h4{
		font-size: 16px;
	}
	.body-starProduct-body-col2 h5,.body-activity h5{
		display: none;
	}
	.body-starProduct-body-col2 img{
		height: 80px;
	}
	.body-starProduct-body-col2 p span{
		font-size: 16px;
		font-weight: bold;
	}
	.body-starProduct-body-col2 p{
		margin-top: 15px;
	}	
	.tag1{
		width: 8%;
		height: 25px;
		font-size: 15px;
	}
}
.ui-QR-code {
	position: absolute;
	width: 74px;
	height: 75px;
	background: #f8c301;
	border-radius: 5px;
	margin:30px auto 0;
}

.ui-QR-code .fn-QR-code-arrow {
	position: absolute;
	top: 75px;
	left: 30px;
	width: 0;
	height: 0;
	font-size: 0;
	border-style: solid;
	border-width: 8px 8px 0 8px;
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #f8c301;
}

.ui-QR-code-img {
	margin: 2px 0 0 2px;
	width: 70px;
	height: 70px;
}
