#header {
	border-width: 0 0 1px 0;
	border-style: solid;
}

.ui-header {
	padding-right: 20px;
}

.fn-font-center {
	text-align: center;
}

.ui-search {
	float: left;
	margin-top: 6px;
	margin-left: 15px;
	height: 35px;
	width: 240px;
	line-height: 35px;
}

.ui-search-in-store {
	padding-left: 5%;
	border-style: none;
	height: 100%;
	width: 90%;
	float: left;
}

.fn-border {
	border-style: solid;
	border-color: #c7c7c7;
	border-width: 1px;
}

.fn-clickable {
	cursor: pointer;
}

.fn-font-gray {
	color: #676767;
}
.title1{
	width: 100%;
	height: 50px;
	background: #f5f5f5;
	display: flex;
}
.title1-help{
	margin-left: 6%;
	margin-top: 15px;
}
.title1-input{
	width: 29%;
	height: 33px;
	margin-top: 10px;
	margin-left: 30%;
}
#title1-icon1{
	position: absolute;
	left: 82%;
	font-size: 20px;
	top: 16px;
}
#title1-icon2{
	position: absolute;
	left: 87%;
	font-size: 20px;
	top: 16px;
}
.title1-login{
	border: none;
	position: absolute;
	left: 90%;
	top: 16px;
}
.title2 {
	height: 60px;
	width: 100%;
	border-bottom: solid 1px #cccccc;
	position: fixed;
	z-index: 10;
	background-color: #fff;
	display: flex;
	padding-left: 5%;
}
.title2-left {
	line-height: 60px;
    color:#706d6e;
	font-size: 26px;
	font-family: "微软雅黑";
	font-weight: 600;
	cursor: pointer;
}
.title2-right {
	margin-left: 45%;
	width: 35%;
	margin-top: 14px;
	transform: rotate(1deg);
}

.head-left-a{
	width: 100%;
	height: 60px;
	color: white;
	font-size: 17px;
	padding-top: 20px;
	padding-left: 10%;
	display: block;
}
.head-left-a:hover{
	background: #222a29;
	color: white;
	text-decoration: none;
}
.body{
	width: 90%;
	height: 2400px;
	margin-top: 20px;
	margin-left: 5%;
	margin-right: 5%;
}
.body-box1-body{
	display: flex;
	flex-wrap: wrap;
	/*margin-top: 15px;
	margin-left: 5%;*/
}
.body-box1-title{
	border-bottom: 1px solid black;
	font-size: 30px;
	padding-bottom: 7px;
}
.body-box1-sub1{
	margin-left: 3%;
	width:17%;
}
.body-box1-sub2{
	margin-left: 2%;
	width:17%;
}
.body-box1-content h3{
	color: black;
	margin-bottom:0px;
}
.body-box1-picture{
	height: 140px;
	width: 100%;
}
.body-box1-price{
	color: #ec5411;
	font-family: comic sans MS;
}
.body-box1-price span{
	font-size: 20px;
	font-weight: bold;
}
.body-box2{
	margin-top: 60px;
	display: flex;
	flex-wrap: wrap;
}
.body-box2-div{
	width: 24%;
	margin-left: 1%;
}
.body-box2 img{
	 width:100%;
	 height:145px;
}
.body-box2 h5{
	font-size:18px;
	width:93%;
	height:35px;
	color: black;
}
.body-box2 p{
	color: #EEAD0E;
}
.body-box3{
	margin-top: 50px;
}
.body-box4,.body-box5,.body-box6{
	margin-top: 80px;
}
.body-box3 h3{
	font-size: 26px;
}
.body-box3-body{
	height: 330px;
	display: flex;
	border-right: 1px solid lightgray;
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
}
.body-box3-body-col1{
	border-left: 1px solid lightgray;
	width: 115%;
	height: 330px;
}
.body-box3-body-col1 h4{
	font-size: 20px;
	padding-top: 20px;
	margin-left: 4%;
	margin-bottom: 10px;
	color: black;
}
.body-box3-body-col1 p{
	margin-left: 4%;
	color: gray;
}
.body-box3-body-col1 img{
	width: 100%;
	margin-top: 10px;
}
.body-box3-body-col2{
	border-left: 1px solid lightgray;
	width: 100%;
	height: 330px;
}
.body-box3-body-col2 img{
	width: 100%;
}
.body-box3-body-col2 p{
	color: #ec5411;
	font-family: comic sans MS;
	margin-left: 4%;
	margin-top: 25px;
}
.body-box3-body-col2 h4{
	margin-left: 4%;
	margin-bottom:0px;
	font-family: comic sans MS;
	color: black;
}
.body-box3-body-col2 h5{
	margin-left: 4%;
}
.body-box3-body-col2 p span{
	font-size: 20px;
	font-weight: bold;
}
.tag1{
	position: absolute;
	width: 5%;
	height: 30px;
	text-align: center;
	font-size: 17px;
	padding-top: 4px;
	background:#e71224;
	color: white;
	z-index: 1;
}
.link{
	text-decoration: none;
}
.product-image{
	height: 180px;
}
.ui-tail {
	min-width: 430px;
	width: 100%;
	height: 50px;
	background-color: #eee;
	overflow: hidden;
}

.ui-tail-header {
	padding: 0 5% 0 5%;
	font-size: 16px;
	line-height: 60px;
	background-color: #dddddd;
}

.fn-icon {
	text-align: center;
	float: left;
	line-height: 30px;
	margin: 10px;
	width: 30px;
	height: 30px;
}

.fn-expansion {
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 60px;
	float: right;
}

.ui-tail-info {
	width: 100%;
	padding: 0 5% 0 5%;
	height: 200px;
	background-color: #f2f2f2;
}

.ui-tail-info-detail {
	padding-top: 20px;
	padding-left: 20px;
	width: 20%;
	height: 100%;
	float: left;
	color: #626262;
}

.ui-tail-info-header {
	line-height: 40px;
	font-size: 20px;
}

.ui-tail-info-text {
	line-height: 30px;
	font-size: .8em;
	color: #626262;
}

.ui-tail-info-text:hover {
	text-decoration: underline;
	cursor: pointer;
}
@media(max-width: 992px){ 
	.title2-right  {
		opacity: 0;
		margin-left: 10%;
	}
	.title2-left{
		font-size: 18px;
	}
	.body-box1-title{
		font-size: 20px;
	}
}
.head{
	width: 90%;
	height: 380px;
	background: pink;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 60px;
	display: flex;
}
.head-left{
	width: 20%;
	height: 380px;
	background: #515857;
	padding-top: 10px;
	padding-bottom: 10px;
}
.head-right{
	width: 80%;
}
#bootstrap-touch-slider{
	height: 380px;
}
.slide-content{
	font-family: comic sans MS;
}
@media(max-width: 1170px){
	/*活动专区*/
    .body-box2 img{
	 width:100%;
	 height:120px;
    }
   .body-box2 h5{
	font-size:15px;
    }
   .body-box2 p{
	font-size: 10px;
   }
}
@media(max-width: 870px){
	/*滑动图区——适应手机端*/
	.head-left  {
		display: none;
	}
	.head-right{
		width: 100%;
		height: 300px;
	}
	#bootstrap-touch-slider{
		height: 300px;
	}
	.head{
		height: 300px;
	}
	.slide-head{
		font-size: 18px;
	}
	/*新品上市区自适应*/
	.body-box1-sub1{
		display: none;
	}
	.body-box1-sub2{
		width: 23%;
	}
	.body-box1-content h3{
	font-size: 19px;
    }
    .body-box1-content p{
	font-size: 10px;
    }
   .body-box1-picture{
	height: 120px;
    }
   .body-box1-price{
	font-size: 12px;
    }
   .body-box1-price span{
	font-size: 16px;
   }
   /*产品系列自适应*/
   .body-box3-body-col1{
   	display: none;
   }
   .body-box3-body-col2 p{
	font-size: 1px;
}
.body-box3-body-col2 h4{
	font-size: 16px;
}
.body-box3-body-col2 h5{
	font-size: 1px;
}
.body-box3-body-col2 p span{
	font-size: 16px;
	font-weight: bold;
}
}
@media(max-width: 560px){
	/*活动专区自适应*/
   .body-box2-div{
	width: 49%;
   }
   .body-box2 h5{
	display: none;
    }
   .body-box2 p{
	margin-top: 10px;
	color: black;
   }
	
}
@media(max-width: 530px){
	/*滑动图区自适应*/
	.head-left  {
		display: none;
	}
	.head-right{
		width: 100%;
		height: 220px;
	}
	#bootstrap-touch-slider{
		height: 220px;
	}
	.head{
		height: 220px;
	}
	.slide-head{
		font-size: 18px;
	}
	/*新品上市区自适应*/
	.body-box1-sub1{
		display: none;
	}
	.body-box1-sub2{
		width: 30%;
	}
	.body-box1-content h3{
	font-size: 19px;
    }
    .body-box1-content p{
	font-size: 10px;
    }
   .body-box1-picture{
	height: 120px;
    }
   .body-box1-price{
	font-size: 12px;
    }
   .body-box1-price span{
	font-size: 16px;
   }
}
@media(max-width: 414px){
	/*滑动图区自适应*/
	.head-left  {
		display: none;
	}
	.head-right{
		width: 100%;
		height: 148px;
	}
	#bootstrap-touch-slider{
		height: 148px;
	}
	.head{
		height: 148px;
	}
	.slide-head{
		font-size: 17px;
	}
	/*新品上市区自适应*/
	.body-box1-sub1{
		display: none;
	}
	.body-box1-sub2{
		width: 47%;
	}
	.body-box1-content h3{
	font-size: 19px;
    }
    .body-box1-content p{
	font-size: 10px;
    }
   .body-box1-picture{
	height: 90px;
    }
   .body-box1-price{
	font-size: 12px;
    }
   .body-box1-price span{
	font-size: 16px;
   }
   /*产品系列自适应*/
.body-box3-body-col2 h4{
	font-size: 16px;
}
.body-box3-body-col2 h5{
	display: none;
}
.body-box3-body-col2 img{
	height: 80px;
}
.body-box3-body-col2 p span{
	font-size: 16px;
	font-weight: bold;
}
.body-box3-body-col2 p{
	margin-top: 15px;
}
.body-box3-body{
	height: 200px;
}
.body-box3-body-col2{
	height: 200px;
}
.tag1{
	width: 8%;
	height: 25px;
	font-size: 15px;
}
.product-title{
	font-size: 20px;
}
.body-box4,.body-box5,.body-box6{
	margin-top: 40px;
}
.body{
	height: 1950px;
}
}